body{

}

.section-main{
	display: flex;

}

.left-section,.right-section{
	width: 50%;
}

.left-section img{
	width: 100%;
	height: auto;
}

.right-section{
	margin: 5%;
}
.right-section h2{
    font-size: 2rem;
    font-family: serif;
    margin-bottom: 14px;
}

.accordion-section .card{
	margin: 20px 0px;
}

button[data-toggle="collapse"].collapsed:before{
	transform: rotate(0deg);
}